.navbar-toggler {
  outline: none !important;
}

.header {
  height: 100vh;
  background-image: url(../img/rail2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.header .banner-caption {
  text-align: center;
  padding-top: 18vh;
  font-size: 200%;
  color: black;
}
.header .banner-caption h1 {
  font-size: 88px;
  font-weight: 900;
  color: purple;
}
.header .banner-caption p {
  font-size: 24px;
}
.header .arrow {
  text-align: center;
  bottom: 10vh;
  position: absolute;
  z-index: 5;
  margin: auto;
  width: 100vw;
}
.header .arrow a {
  text-decoration: none;
  color: white;
  animation: bounce 2.5s infinite ease;
}
.header svg {
  height: 150px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.header svg path {
  fill: white;
}

@media screen and (max-width: 767px) {
  #home-svg {
    height: 80px;
  }
}

.navbar-brand {
  font-size: 30px;
  font-weight: 900;
  z-index: 3;
  color:purple
}

.collapse {
  z-index: 3;
}
.collapse .navbar-nav li {
  font-weight: 700;
  padding-right: 13px;
  padding-left: 13px;
  color: red;
}
.collapse .navbar-nav li a {
  text-transform: uppercase;
  font-size: 25px;
}

nav.fixed-top .nav-item .nav-link:hover:before {
  background-color: #000;
}

nav.navbar .nav-item .nav-link:hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.conInfo{
  background-color: lightpink;
}
#about {
  padding-top: 8%;
  padding-bottom: 8%;
}
#about .container .row .about-img {
  position: relative;
  justify-content: flex-end;
}
#about .container .row .about-img img:before {
  content: "";
  background-color: #df2828;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -10%;
  left: -10%;
  z-index: 0;
}
#about .container .row .about-img img {
  width: 80%;
  height: auto;
  box-shadow: -25px 35px 0px rgba(228, 228, 228, 0.411), -25px 35px 0px rgba(228, 228, 228, 0.411), -25px 35px 0px rgba(228, 228, 228, 0.411), -25px 35px 0px rgba(228, 228, 228, 0.411), -25px 35px 0px #a8a8a8;
}
#about .container .row .col-lg-7 {
  max-height: 58.33333%;
  font-size: 19px;
}
#about .container .row .col-lg-7 .about-content .about-heading h2 {
  text-transform: uppercase;
}
#about .container .row .col-lg-7 .about-content p {
  font-size: 16px;
}
#about .container .row .col-lg-7 .about-content .about-button a {
  display: inline-block;
  background-color: #222222;
  padding: 10px 35px;
  border: 2px solid #222222;
  text-transform: uppercase;
  transition: 0.8s background-color ease;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
#about .container .row .col-lg-7 .about-content .about-button a:hover {
  background-color: white;
  color: #222222;
}

.services {
  background-color:pink;
}
.services .container h2 {
  text-transform: uppercase;
  color: purple;
}
.services .container .row .service-item {
  text-align: center;
}
.services .container .row .service-item .icon {
  border: 1px solid #e3e3e3;
  transition: 0.5s all ease;
  color: #222;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 20px;
  border-radius: 50%;
  line-height: 78px;
  height: 80px;
  width: 80px;
}
.services .container .row .service-item .icon:hover {
  background-color: #ffffff;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.25);
}
.services .container .row .service-item h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.services .container .row .service-item p {
  font-size: 16px;
}

.savoirEtre {
  color: white;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("../img/rail2.jpg");
}
.savoirEtre p {
  font-size: 16px;
}

#html {
  width: 98%;
}

#css {
  width: 98%;
}

#js {
  width: 70%;
}

#AngularJs {
  width: 40%;
}

#ReactJS {
  width: 40%;
}

#jquery {
  width: 60%;
}

#nodejs {
  width: 55%;
}

#grunt {
  width: 50%;
}

#net {
  width: 40%;
}

#umbraco {
  width: 60%;
}

#sitecore {
  width: 60%;
}

#git {
  width: 75%;
}

#microsoft {
  width: 80%;
}

#ph {
  width: 45%;
}

#illu {
  width: 35%;
}

#ue {
  width: 60%;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.contact .container .r2 #contact-form .form-control {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #222;
  border: 0;
  border-bottom: 2px solid #222;
  height: 3em;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.contact .container .r2 #contact-form #contact-message {
  height: auto;
  resize: none;
}
.contact .container .r2 #contact-form .main-btn {
  display: inline-block;
  background-color: #222;
  padding: 20px;
  border: 2px solid #222;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.2s background-color ease;
  -o-transition: 0.2s background-color ease;
  transition: 0.2s background-color ease;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.media {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.media .social-btn {
  padding: 0;
  bottom: 0;
}
.media .social-btn li {
  list-style: none;
  margin: 0 14px;
  line-height: 90px;
}
.media .social-btn li a {
  text-decoration: none;
  display: inline-flex;
  width: 70px;
  height: 70px;
  font-size: 22px;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
}
.media .social-btn li a i {
  transition: 0.3s ease-in;
}
.media .social-btn li a:hover i {
  background: linear-gradient(45deg, #b6b6b6, #202020);

  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}
.media .social-btn li a::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background: linear-gradient(45deg, #b6b6b6, #202020);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}
.media .social-btn li a:hover::before {
  transform: scale(0);
}

.footer {
  background-color: #222;
  padding-top: 10px;
  margin-top: 35px;
}
.footer .medIc {
  margin: 0 10000px;
  display: flex;
  justify-content: center;
}
.footer .r2 {
  display: flex;
}
.footer .r2 hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(216, 213, 213, 0.1);
}
.footer .r2 p {
  color: white;
}

.box .icon h4::before,
.box .icon h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, white, rgba(0, 0, 0, 0));
  transition: 1s;
}

.box .icon h4::before {
  left: inherit;
  right: 100%;
  background: linear-gradient(to right, white, rgba(0, 0, 0, 0));
}

.box .fa:hover ~ h4::before {
  left: initial;
  right: -100%;
}

.box .fa:hover ~ h3::before {
  left: -100%;
}

.box {
  text-align: center;
}

.box .icon .fa {
  font-size: 25px;
  cursor: pointer;
}

.box .icon h4, .box .icon h3 {
  position: relative;
  overflow: hidden;
  font-weight: 400px;
  margin: 0;
  padding: 2px 5px;
  font-size: 18px;
  transition-delay: 0.3333s;
  color: transparent;
}

.box .icon h4 {
  font-weight: 600;
  margin: 5px 0;
}

.box .fa:hover ~ h3,
.box .fa:hover ~ h4 {
  color: white;
}

.projects {
  color: BLACK;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("../img/rail2.jpg");
}
.projects .container .row .col .portfolio-filter li {
  display: inline-block;
  font-size: 14px;
  margin-right: 20px;
  color: #222;
  position: relative;
  font-family: "Raleway", san-serif;
  cursor: pointer;
  text-transform: uppercase;
}

body {
  font-family: "Raleway", san-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  color: black;
  z-index: 40;
  transition: 1s;
  box-shadow: 0px 5px 7px grey;
}

.trans {
  position: fixed;
  top: -100px;
  width: 100%;
  z-index: 40;
  transition: 1s;
}

html {
  scroll-behavior: smooth;
}

.conInfo .meme {
  display: flex;
  justify-content: center;
}

.bordTop {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
}

.bordSide {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}

button:focus {
  outline: none;
}

a:focus {
  outline: none;
}
.fa-mobile:before {
  content: "\f10b";
 
  margin-top: 5px;
  font-size: 3rem;
  color: #6f42c1;
}

.fa-desktop:before {
    content: "\f108";
     
  margin-top: 5px;
  font-size: 3rem;
  color: #6f42c1;
}
.fa-paper-plane:before {

     
  margin-top: 5px;
  font-size: 3rem;
  color: #6f42c1;
}
.service .icon {
  font-size: 3rem;
  color: #6f42c1
}

.service h3 {
  font-size: 1.2rem;
  font-weight: 400
}

.img-1,
.img-2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  bottom: 0;
  background-size: cover;
  background-position: center center
}

.img-2 {
  right: 0;
  left: auto !important
}

.heading {
  font-size: 3rem;
  line-height: 1
}

.position-relative {
  overflow: hidden;
  position: relative !important
}

.custom-breadcrumbs {
  font-size: 1rem !important
}

.custom-breadcrumbs a {
  display: inline-block;
  font-size: 1rem !important;
  text-decoration: underline;
  color: #fff !important
}

.padding-tb {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.img-dotted-bg {
  position: relative
}

.img-dotted-bg:after {
  position: absolute;
  content: "";
  z-index: -1;
  background: url("") repeat;
  top: -50px;
  left: -50px;
  width: 200px;
  height: 400px
}

.img-dotted-bg .img-absolute {
  position: absolute;
  max-width: 300px;
  bottom: -20px;
  right: -20px
}

.work-thumb {
  display: block;
  position: relative
}

.work-thumb img {
  border: 10px solid #fff
}

.work-thumb .work-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  margin-top: 20px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.work-thumb .work-text h2 {
  color: #fff;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 1.5rem
}

.work-thumb .work-text p {
  color: rgba(255, 255, 255, 0.5)
}

.work-thumb:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px
}

.work-thumb:hover .work-text {
  margin-top: 0px;
  opacity: 1;
  visibility: visible
}

.work-thumb:hover:before {
  opacity: 1;
  visibility: visible
}

.divider {
  width: 70px;
  height: 6px;
  background: #000;
  display: inline-block;
  position: relative;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

.competence{
  background-color: white;
}
.services .container .row .service-item .icon {
  border: 1px solid #e3e3e3;
  transition: 0.5s all ease;
  color: #222;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 20px;
  border-radius: 50%;
  line-height: 78px;
  height: 80px;
  width: 80px;
}
.quick-contact {
  color: #000
}

.block-fixed {
  position: sticky;
  position: -webkit-sticky;
  top: 0
}


/*# sourceMappingURL=style.css.map */
